body{
    width:100%;
    height: 100%;
    font-family: "calibri";
}
.mySlides {
    display:none;
}
img.mySlides{
    position: absolute;
    width: 100%;
    height: 610px;
}
div.header {
    position: relative;
    width: 100%;
    height: 610px;
    z-index: 1;
}
div.slideshow {
    width: 100%;
    z-index: 0;
}
a.right {
    float: right;
    background-color: white;
    border-bottom: 2px solid white;
    color: white;
    font-size: medium;
    padding: 2.5% 7%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 4px;
    background: rgba(155, 155, 155, 0.5);
}
a.right:hover{
    background: rgba(231, 231, 231, 0.5);
}
div.abt {
    float: left;
    width: 46.25%;
    height:auto;
    margin-outside: 0px;
    border: 2px solid dimgrey;
    padding: 20px;
}
a.abt {
    background-color: white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    color: white;
    padding: 15px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 4px;
    background: rgba(25,25,25,0.5);
}
a.abt:hover {
    background: rgba(100, 100, 100, 0.5);
    color: black;
}
div.abt2 {
    float: left;
    width: 46.25%;
    height:auto;
    margin-outside: 0px;
    border: 2px solid dimgrey;
    padding: 20px;
}
footer {
    width: 100%;
    background-color: #1d1d1d;
    color: gray;
    padding: 20px;
}
p.footer {
    font-size: x-small;
    background-color: #1d1d1d;
    width: 100%;
    color: gray;
    text-align: center;
    margin: 0px;
    border-top: 0px;
}
a.footer {
    float: left;
    width:10%;
    color: gray;

    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a.footer:not(:last-child) {
    border-right: none;
}
a.footer:hover {
    background: rgba(100, 100, 100, 0.5);
    color: white;
}
table.logout {
	border-bottom: 1px solid dimgrey;
}
form.logout input[type=submit] {
	display: block;
    margin: 0 auto;
    padding: 10px;
    background-color: #1d1d1d;
    color: gray;
    border: none;
}
form.logout input[type=submit]:hover {
    background: rgba(83, 83, 83, 0.5);
}
div.content {
    text-align: center;
    border: 2px;
    width: 100%;
    font-family: "Calibri";
}
table.form {
    border-bottom: 1px solid dimgrey;
    border-spacing: 25px;
}
table.form td{
    font-size: large;
}
form.register input[type=text],input[type=password],input[type=date] {
    width: 100%;
    padding: 10px;
}
form.register textarea.address {
    width: 100%;
    padding: 5px;
    margin-top:3px;
}
form.register input[type=submit], input[type=reset] {
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 3px;
}
form.register input[type=submit]:hover,input[type=reset]:hover {
    background: rgba(83, 83, 83, 0.5);
}
table.tours td{
    border: 2px solid lightgray;
    border-collapse: collapse;
    padding: 1px;
    text-align: center;
}
a.reg {
    float: right;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
    padding: 18px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 3px;
}
button.btn {
	float: right;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
    padding: 18px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 3px;
}
form.login input[type=submit] {
    display: block;
    margin: 0 auto;
    padding: 23px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 3px;
}
a.reg:hover {
    background: rgba(100, 100, 100, 0.5);
    color: black;
}
form.login input[type=submit]:hover {
    background: rgba(100, 100, 100, 0.5);
    color: black;
}
table.login {
    border-bottom: 1px solid dimgrey;
    border-spacing: 25px;
}
table.login td{
    font-size: large;
}
form.login input[type=text],input[type=password] {
    width: 100%;
    padding: 10px;
}
form.payment input[type=text]{
    width: 80%;
    padding: 10px;
}
select{
    width: 88%;
    padding: 10px;
}
form.payment input[type=submit]{
    float: left;
    display: block;
    margin: 0 auto;
    padding: 20px 40px;
    background-color: grey;
    color: white;
    border: 2px solid white;
    border-radius: 3px;
}
form.payment input[type=reset] {
    float: left;
    padding: 20px 40px;
    background-color: grey;
    color: white;
    border: 2px solid white;
    border-radius: 3px;
}
form.payment input[type=submit]:hover {
    background: rgba(83, 83, 83, 0.5);
}

form.payment input[type=reset]:hover{
    background: rgba(83, 83, 83, 0.5);
}
a.payment {
    float: right;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: dimgrey;
    color: white;
    border: none;
    font-size: large;
    letter-spacing: 4px;
}
a.payment:hover {
    background: rgba(204, 204, 204, 0.5);
    color: black;
}




